html,
body {
    height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
    background-color: aliceblue;
}

.canvas {
    border: 1px solid black;
    display: block;
}

.sidebar {
    margin: 10px;
    flex-basis: 200px;
}