html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

label {
    display: block;
}

.flex-container {
    display: flex;
    height: 100%;
}

.canvas-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: stretch;
}

.sidebar {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.commands {
    width: 100%;
    margin-bottom: 1em;
}

.command,
.output {
    padding: 5px;
    min-width: 250px;
    width: 90%;
}

.output {
    resize: none;
}