html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

label {
    display: block;
}

.flex-container {
    display: flex;
    height: 100%;
    background-color: aliceblue;
}

.canvas {
    border: 1px solid black;
    display: block;
}

.sidebar {
    margin: 10px;
    flex-basis: 500px;
}

.commands {
    width: 100%;
    margin-bottom: 1em;
}

.command,
.output {
    padding: 5px;
    min-width: 250px;
    width: 90%;
}

.output {
    resize: none;
}